
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/* ===================================
General Styling
====================================== */

body {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 2rem;
  font-size: 110%;

  /* dark theme */
  background-color: #262626;
  color: rgba(255,255,255,.95);
}

a {
  color: rgba(255,255,255,.8);
}

a:hover {
  color: #696d9c;
}

/* ===================================
Chart Headers
====================================== */
h2 {
 font-family: 'Fira Sans', sans-serif;
 text-align: center;
 margin-bottom: 0;
 font-weight: 400;
 font-size: 130%;
}

#chart-description {
/* keep for d3 */
}

#chart-year  {
/* keep for d3 */
}

 h3.weight-description {
  /*color: rgba(255,255,255,.8);*/
  font-size: 120%;
  font-weight: 100;
  margin: .5rem 0 0 0;
  /*padding-top: .5rem;*/
  text-align: center;
}


/* ===================================
Chart
====================================== */
/* TODO: */
svg {
  position: absolute;
  left: 13rem;
}

/* why fill not working?  */
rect:hover {
  opacity: .7;
  /*fill: green;*/
}



/* ===================================
Chart Lables & Axies
====================================== */
text.label {
  font-size: .9rem;
  /*remember it's an svg, so it gets fill, not color */
  /*fill: white;*/
    /*background-color: #262626;*/
  fill: rgba(255,255,255,.8);
}

text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  position: absolute;
  display: none;
  min-width: 80px;
  /*height: auto;*/
  background-color: rgba(242, 242, 242, 1);
  background: none repeat scroll 0 0 #ffffff;
  border: 2px solid #f2f5f9;
  border-radius: 5px;
  padding: 14px;
  text-align: center;
  text-align: left;
  opacity: .95;
  color: #262626;
}


/* ====================================================
Sidebar
==================================================== */
.sidebar {
  height: 100%;
  width: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 1rem 0 1rem;
  z-index: -1;

  /* light theme*/
  /*background-color: rgba(242, 242, 242, .5);*/

  /* dark theme*/
  background-color: rgba(26, 26, 26, .5);
}

h1.title {
  font-family: 'Satisfy', cursive;
  font-size: 200%;

  margin: 0 0 1rem 0;
  /*color: rgba(255,255,255,.8);*/
}

#sitedescription{
  font-size: 85%;
  /*color: rgba(255,255,255,.7);*/
  line-height: 1.4;
}

/* ====================================================
Sidebar - Refuse Type Buttons
==================================================== */
/*button, input.refusetype {
  padding: 3px .5rem;
  text-align: left;
  text-decoration: none;
  font-size: 80%;
  margin: .3rem;
  width: 90%;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}
*/
input.refusetype {
  text-align: left;
  text-decoration: none;
  padding: .5rem;
  font-size: 90%;
  margin: .3rem;
  margin-left: .2rem;
  width: 95%;
  border-radius: 3px;
  cursor: pointer;
  background-color: #EFCB68;
  color: rgba(255,255,255, 1);;
  border: 0px solid #EA638C;
}

input.refusetype:hover {
  opacity: .8;
}

#refusetonscollected {
  background-color: #B47978;
}

#papertonscollected {
  background-color: #8da329;
}

#mgptonscollected {
  background-color: #729EA1;
}

#resorganicstons {
  background-color: #886F68;
  background-color: #8E665B;
}

#leavesorganictons {
  background-color: #FF785A;
}

#xmastreetons {
  background-color: #5ca145;
}


/* ==============================================
Sidebar - Dropdown Button Years
============================================== */
/*.dropdown-button {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid gray;
  color: #34202c;
  cursor: pointer;*/
  /*padding: .5rem .5rem;*/
  /*font-size: 80%;*/
  /*margin: .3rem;*/
  /*text-align: left;*/
  /*text-decoration: none;*/
  /*width: 80%;*/


.dropdown-button {
  background-color: #eee;
  border-radius: 3px;
  border: 5px solid #eee;
  color: #34202c;
  cursor: pointer;
  padding: 1rem .5rem;
  font-size: 100%;
  margin-top: 1rem;
  margin-left: .3rem;
  text-align: left;
  text-decoration: none;
  /*width: 80%;*/
}


/*==============================
Sidebar - Radio Buttons
================================*/
.radio-buttons {
  cursor: pointer;
  font-size: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*==============================
 Footer
================================*/
footer {
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  /*padding-left: 1.5rem;*/
  padding-top: .5rem;
  padding-bottom: .3rem;
  font-size: 80%;
}

span.footerLink a{
  /*text-decoration: none;*/
  /*font-weight: bold;*/
}

span.footerLink a:hover{
  color: #696d9c;
}

i.fab {
  padding-left: .5rem;
  font-size: 125%;
}



