

@import url(https://fonts.googleapis.com/css?family=Lovers+Quarrel);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Aref+Ruqaa:700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/* ===================================
General Styling
====================================== */

body {
  font-family: 'Fira Sans', sans-serif;
}

/* ===================================
Chart Headers
====================================== */
h2 {
 font-family: 'Fira Sans', sans-serif;
 text-align: center;
 margin-bottom: 0;
 font-weight: 400;
 font-size: 130%;
}

#chart-description {
/* keep for d3 */
}

#chart-year  {
/* keep for d3 */
}

 h3.weight-description {
  /*color: rgba(255,255,255,.8);*/
  font-size: 120%;
  font-weight: 100;
  margin: .5rem 0 0 0;
  /*padding-top: .5rem;*/
  text-align: center;
}


/* ===================================
Chart
====================================== */
svg {
  position: absolute;
  left: 13rem;
}

rect.bar:hover {
  fill: slateblue;
  background-color: slateblue;
}

.bar:hover {
  fill: red;
}


/* ===================================
Chart Lables & Axies
====================================== */
.label {
  /*font-size: 15px;*/
  /*color: white;*/
}



text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}


/* ====================================================
Sidebar
==================================================== */
.sidebar {
  background-color: rgba(242, 242, 242, .5);
  height: 100%;
  width: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 1rem 0 1rem;
  z-index: -1;
}

h1.title {
  font-family: 'Lovers Quarrel', cursive;
  font-family: 'Aref Ruqaa', serif;
  font-family: 'Satisfy', cursive;
  font-size: 200%;
  /*font-weight: 100;*/
  margin: 0 0 1rem 0;
  /*color: rgba(255,255,255,.8);*/
}

#sitedescription{
  font-size: 85%;
  /*color: rgba(255,255,255,.7);*/
  line-height: 1.4;
}

/* ====================================================
Sidebar - Buttons
==================================================== */
button, input.refusetype {
  background-color: #eee;
  color: #34202c;
  padding: 3px .5rem;
  text-align: left;
  text-decoration: none;
  font-size: 80%;
  margin: .3rem;
  width: 80%;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}


/* ==============================================
Sidebar - Dropdown Button Years
============================================== */
.dropdown {
  display: inline-block;
  position: relative;
  margin: .5rem 0 0 .5rem;
  color: rgba(0,0,0,1);
}

.dd-button {
  /*margin-top: 1rem;*/
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: .4rem 2rem .4rem .5rem;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  font-size: 80%;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
/*   The tiny black dropdown arrow */
  border-top: 8px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
  font-size: 12px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: .5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  /*padding: 1rem 2rem;*/
}

