
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/* ===================================
General Styling
====================================== */
.sidebar-container {

}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 110%;
}

a {
  color: rgba(0,0,0,.8);
  border-bottom: 3px solid #ffcd44; /* yellow */
}

a:hover {
  color: rgba(0,0,0,.7);
  border-bottom: 3px solid #ffe866; /* light yellow */
  text-decoration-line: none;
}

.chart-container {
  text-align: center;
  margin-top: 2rem;
}


/* ===================================
Chart Headers
====================================== */
h2 {
 font-family: 'Fira Sans', sans-serif;
 display: inline;
 margin-bottom: 0; /* keep. removes default h2 margin */
 border-bottom: .7rem solid #ffcd44;
 font-weight: 400;
 font-size: 130%;
}

#chart-description {
/* keep in case you decide to style */
}

#chart-year  {
/* keep in case you decide to style */
}

/* not using but keep in case you change mind */
 h3.weight-description {
  font-size: 100%;
  font-weight: 100;
  margin: .5rem 0 0 0;
  text-align: center;
}


/* ===================================
Chart
====================================== */
svg {
  /* To make responsive, in concert with viewBox="0 0 900 2400" */
  /* see svg in BarChart.js */
  height: 100%;
  width: 100%;
}

/* ===================================
Chart Lables & Axies
====================================== */
text.label {
  font-size: .9rem;
}

text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* ===================================
Chart Tooltip
====================================== */
.tool-tip {
  font-size: 80%;
  position: absolute;
  background-color: rgba(242, 242, 242, .95);
  border-radius: 5px;
  border: 3px solid #ffcd44;
  padding: 14px;
  text-align: center;
  text-align: left;
  display: none; /* Important. This hides the tooltip at initial load*/
}

h4 {
  font-size: 120%;
}


/* =================================
Sidebar General
==================================== */
.sidebar {
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 1rem 0 1rem;
  background-color: rgba(242, 242, 242, .5); /* light gray*/
}

h1.title {
  font-family: 'Satisfy', cursive;
  font-size: 200%;
  margin: 0 0 1rem 0;
}

#sidebar-text{
  font-size: 70%;
  line-height: 1.4;
}

h5 {
  font-size: 90%;
}

form {
  margin-top: 1rem;
}

/* ============================
Sidebar - Dropdown Years
=============================== */
.dropdown-button {
  background-color: #ffcd44; /* yellow */
  border: 4px solid #ffcd44; /* yellow */
  border-radius: 4px;
  cursor: pointer;
  font-size: 80%;
}

.dropdown-button:hover {
  background-color: #ffe347; /* light yellow */
  border: 5px solid #ffe347; /* light yellow */
}

/* ===============================
Sidebar - Refuse Type Buttons
================================== */
input.refusetype {
  text-align: left;
  text-decoration: none;
  padding: .3rem;
  font-size: 80%;
  margin: .2rem;
  width: 85%;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffcd44; /* yellow */
  border: 0px solid #ffcd44; /* yellow */
}

input.refusetype:hover,
input.refusetype:focus,
input.refusetype:active {
  background-color: #ffe866; /* light yellow */
}

/* ===============================
Sidebar - Sort Order Buttons
================================== */
input.sort-order {
  text-align: left;
  text-decoration: none;
  padding: .3rem;
  font-size: 80%;
  margin: .2rem;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffe866; /* light yellow */
  border: 0px solid #ffe866; /* light yellow */
}

input.sort-order:hover,
input.sort-order:focus,
input.sort-order:active {
  background-color: #ffcd44; /* yellow */
}




/*==============================
 Footer
================================*/
footer {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 2rem;
  padding-top: .5rem;
  /*padding-bottom: .3rem;*/
  font-size: 70%;
}

span.footerLink a:hover{
  color: #696d9c;
}

/* github logo */
i.fab {
  padding-left: .5rem;
  font-size: 125%;
}


/*******************************
 Media Queries
********************************/

/* SMALL */
@media screen and (max-width: 600px) {

  /* ============================
  Sidebar
  ============================== */
  .sidebar {
    background-color: white;
  }

  h1.title {
    font-size: 210%;
    margin: .5rem;
    text-align: center;
  }

  #sidebar-text{
    /*text-align: center;*/
    font-size: 90%;
    line-height: 1.4;
  }

  /* ===============================
  Sidebar - Refuse Type Buttons
  ================================== */
  form.type-buttons,
  form {
    /*margin: auto;*/
    text-align: center;
    padding-top: 1rem;
  }

  input.refusetype,
  input.sort-order {
    text-align: center;
    text-decoration: none;
    padding: .3rem;
    font-size: 100%;
    margin: .25rem auto;
  }

  /* ============================
  Sidebar - Dropdown Button Years
  =============================== */
  .dropdown-button {
    border: 8px solid #ffcd44; /* yellow */
    border-left: 20px solid #ffcd44; /* yellow */
    border-right: 20px solid #ffcd44; /* yellow */
    font-size: 100%;
    padding-top: 2rem;
    margin: auto;
    text-align: center;
  }


/* =============================
Chart
=============================== */
  h2 {
    margin-bottom: 12px; /* keep. removes default h2 margin */
    border-bottom: .4rem solid #ffcd44;
    font-size: 120%;
    line-height: 36px;
  }

  svg {
    height: 100%;
    width: 90%;
  }

/* ===================================
Chart Lables
====================================== */
text.label {
  font-size: 1.4rem;
}

text {
  font-size: 1.4rem;
}

 /*==============================
  Footer
 ================================*/
  footer {
    display: none;
  }


}




/* HUGE */
@media screen and (min-width: 1500px) {
/* on huge screens, the graphic is so large, it is overwhelming */
  svg {
    width: 75%;
  }

}

